extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let apartmentsid = toShow._id
    - let apartment_location = toShow.apartment_location
    - let apartment_rent = toShow.apartment_rent
    - let apartment_size = toShow.apartment_size
    - let actionid = "/resource/apartments/" + apartmentsid

    script
      let actionid = "#{actionid}"

    div
      form(id='deleteForm', action=actionid, method='POST')
      div.row
        div(class='apartmentsAttr mr-3') apartments ID is:
        div #{apartmentsid}

      div.row
        div(class='apartmentsAttr mr-3') apartments location is:
        div #{apartment_location}

      div.row
        div(class='apartmentsAttr mr-3') apartments Size is:
        div #{apartment_size}

      div.row
        div(class='apartmentsAttr mr-3') apartments rent is:
        div #{apartment_rent}

      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

      script.
        function cancel() {
          // Go back to the home page for the costume collection
          window.location.href='/apartments'
        }

      script.
        function deleteOnid() {
          console.log("starting delete")
          // delete first
          fetch(actionid, {
            method: 'DELETE' // Don't need a body for the delete
          }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
          }).then((body) => {
            alert("Delete succeded")
            window.location.href='/apartments'
            // TODO handle body
          }).catch((error) => {
            // TODO handle error
            alert("Delete failed " + error )
          });
        }
